.input_field {
	position: absolute;
	left: 50%;
	top: 40%;
	border-style: solid;
	transform: translate(-50%);
	font-size: 25px;
	padding-left: 10px;
}

.url_input {
	margin-left: 10px;
	font-size: 25px;
}

.summary {
	position: absolute;
	border-style: solid;
	width: 60%;
	top: 33%;
	transform: translate(-50%);
	left: 50%;
}
